.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Be Vietnam Pro', sans-serif !important;
  font-weight: bold !important;
}

.header-height {
  height: 50px;
}

.btn-header-width {
  width: 120px;
}

#dropdown-button {
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  width: 120px;
  height: 50px;
}

.dropdown-item {
  font-size: 0.875rem;
}

.btn-member {
  width: 150px;
}

.btn-member:hover {
  border: none;
}

.btn-message {
  background-color: var(--colorDes) !important;
}

.btn-message:hover {
  color: white !important
}

.footer {
  padding: 30px;
  background-color: #191b21 !important;
}